.DS_Store
node_modules
/dist
app/dist
app/src/assets/old-css/


# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
resfulservice/logs

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

mockDB/

# Managed Services
**/**/__pycache__/
**/**/celerybeat-schedule.db
**/**/gs.config*
**/**/mongo.config*

# Ignore coverage
app/coverage
resfulservice/coverage
resfulservice/.nyc_output

# Ignore old service files
old_services
venv/
__pycache__/
sparqlqueries.html